%article.double-margin-bottom.border-bottom
    %h1
        %a{:href => "article.html"}
            Article Title

    %p.light-font-color
        Written by 
        %a{:href => "author"}
            =lorem.name
        on Feb. 4, 2014 / 
        %a{:href => "article"}
            2 Comments
    
    %p
        =lorem.paragraphs 1 
    
    %p
        =lorem.paragraphs 1 
    
    %p
        = image_tag lorem.image('500x500', :random_color => true);

    %p
        =lorem.paragraphs 1 
    
    %p
        =lorem.paragraphs 1
                    
    %p.bold-font-name
        Category

    %p
        %a{:href => "tags"}
            Engineering