.double-margin-bottom.border-bottom
	.row
		.col-md-2
			= image_tag ("../images/matt-bio.png"), :class=> "img-responsive img-rounded"
		
		.col-md-10
			%p.no-margin
				%a{:href => "author"}
					Matt Fiedler
			%p
				=lorem.paragraphs 1
