%footer.padding-top.padding-bottom.margin-top
	%section
		.container
			.row
				.col-md-8
					%nav
						%ul.list-inline.inline
							%li.padding-right
								%a{:href => ""}
									Gloo Home
							%li.padding-right
								%a.fancybox{:href => ""}
									About
							%li.padding-right
								%a{:href => ""}
									Team
							%li
								%a{:href => "/public/jobs"}
									Jobs
				.col-md-4.text-right
					%nav
						%ul.list-inline.inline
							%li.padding-right
								%a{:href => ""}
									%i.fa.fa-facebook-square
							%li.padding-right
								%a{:href => ""}
									%i.fa.fa-twitter-square
							%li
								%a{:href => ""}
									%i.fa.fa-linkedin-square