.p.text-center.double-margin-bottom.secondary-background.padding-top.padding-bottom.padding-right.padding-left
	We&apos;re currently looking for talented people looking to make a difference to join our team.
	%a{:href =>""}
		View open positions and see the perks.