.form-group
	%label
		Name
	%input.form-control.input-lg{:placeholder=>"ex: John Doe"}

.form-group
	%label
		Email Address
	%input.form-control.input-lg{:placeholder=>"ex: jdoe@mail.com"}

.form-group
	%label{for: "message-input"}
		Message
	%textarea.form-control{placeholder: "Type your message here", rows: "10"}
%button.btn.btn-primary.btn-lg
	Submit