%aside.double-margin-bottom.blog-sidebar
    %h3
        Recent Articles
    
    %ul.list-unstyled
        %li
            %a{:href => "article"}
                10 ways to get your boss to like you
        %li
            %a{:href => "article"}
                How to be the best product owner ever
        %li
            %a{:href => "article"}
                10 ways to get your boss to like you
        %li
            %a{:href => "article"}
                This is a really long title so we can see how it looks

    %h3
        Cateogires

    %ul.list-unstyled
        %li
            %a{:href => "tags"}
                Engineering
        %li
            %a{:href => "tags"}
                Product
        %li
            %a{:href => "tags"}
                Culture


    %h3
        Download the app

    %ul.list-unstyled
        %li
            %a{:href => ""}
                = image_tag ("../images/app_store.png")

        %li
            %a{:href => "tags"}
                = image_tag ("../images/play_store.png")