;;;

    "layout": "_blog"
  
;;;

%section
    .container
        .row
            .col-md-8
                =partial "article"

                =partial "author"

                =partial "comments"

            .col-md-1
            .col-md-3
                =partial "sidebar"