;;;

    "layout": "_blog"
  
;;;


%section
    .container
        .row
            .col-md-8
                - 2.times do
                    =partial "article"

                =partial "pagination"
                
                =partial "jobs"

            .col-md-1
            .col-md-3
                =partial "sidebar"




